<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
       <property name="connection.url">jdbc:postgresql://85.143.209.57:5432/test</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">test_user</property>
        <property name="connection.password">test_user</property>
        <property name="hibernate.id.new_generator_mappings">true</property>
        <mapping class="com.gost.entity.User"/>
        <mapping class="com.gost.entity.Role"/>
    </session-factory>
</hibernate-configuration>